@import "tailwindcss";

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
  }
}

@layer components {
  .active hr {
    display: block;
  }
}
/* Custom Utility to hide scrollbar specifically where needed */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}